{% extends 'base.html' %}
{% load static %}

{% block title %}
    Логин/Регистрация
{% endblock %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Логин/Регистрация</h2>
                <div class="page_link">
                    <a href="index.html">Назад</a>
                    <a href="login.html">Логин</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================Login Box Area =================-->
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../../static/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Не зарегистрированный мастер?</h4>
                        <p>Прежде чем брать заказы, Вам необходимо зарегистрироваться в нашей системе</p>
                        <a class="main_btn" href="{% url 'register' %}">Создать новый аккаунт</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Поля для входа в систему</h3>
                    <form class="row login_form" action="." method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input required type="text" class="form-control" id="name" name="{{ form.username.name }}" placeholder="Имя пользователя">
                        </div>
                        <div class="col-md-12 form-group">
                            <input required type="password" class="form-control" id="id_password" name="{{ form.password.name }}" placeholder="Пароль">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Оставаться в системе</label>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn submit_btn">Вход</button>
                            <a href="#">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}