{% extends "base.html" %}
{% block title %}Регистрация | ГСП{% endblock %}
{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Регистрация</h2>
                <div class="page_link">
                    <a href={% url 'mygsp:offer_list' %}>Назад</a>
                    <a href='#'>Логин</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================Login Box Area =================-->
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../../static/img/login.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    {% if user_form.errors %}
                    <p class="alert alert-danger">Аккаунт с таким именем пользователя уже существует!</p>
                    <p>Пожалуйста, попробуйте ввести другие данные</p>
                    {% else %}
                    <p>Пожалуйста, используйте форму ниже для входа в систему</p>
                    {% endif %}
                    <h3>Поля для регистрации в системе:</h3>
                    <form class="row login_form" action="." method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" required id="id_username" name="{{ user_form.username.name }}" placeholder="Имя пользователя">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="id_first_name" name="{{ user_form.first_name.name }}" placeholder="Ваше настоящее имя">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="id_email" name="{{ user_form.email.name }}" placeholder="Ваш электронный адрес">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" required id="id_password" name="{{ user_form.password.name }}" placeholder="Пароль">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" required id="id_password2" name="{{ user_form.password2.name }}" placeholder="Повторите введенный пароль">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Оставаться в системе</label>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn submit_btn">Создать аккаунт</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

{% endblock %}